.league-form-welcome-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.league-form-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.league-forms {    
    width: 100%;
    display: flex;
    justify-content: center;
}

.league-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 30%;
}